.do-field {
  outline: none;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 0px rgba(124, 124, 124, 0.5);
  padding: 7px 0px 7px 20px;
  min-height: 50px;
  min-width: 250px;
  width: 100%;
}

.do-btn {
  padding: 15px 30px;
  min-width: 150px;
  outline: none;
  border: none;
  background: #333333;
  box-shadow: 0px 4px 0px #00baf4;
  border-radius: 5px;

  cursor: pointer;
  user-select: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
  &:active {
    background: #333333;
    box-shadow: 0px 1px 0px #00baf4;
    border-radius: 5px;
  }
}

.do-min-btn {
  width: 50px;
  height: 50px;

  position: relative;
  background: #333333;
  box-shadow: 0px 4px 0px #00baf4;
  border-radius: 5px;

  svg {
    position: absolute;
    left: 36%;
    right: 16%;
    top: 26%;
    bottom: 26%;
  }
  &:active {
    background: #333333;
    box-shadow: 0px 1px 0px #00baf4;
    border-radius: 5px;
  }
}

.title {
  font-weight: 600;
  color: #7d7d7d;
}
.sub-title {
  font-weight: 600;
  color: #7d7d7d;
}
.label {
  color: #7d7d7d;
}

.earth {
  position: fixed;
  right: -100px;
  bottom: -100px;
  mix-blend-mode: darken;
  opacity: 0.3;
}

.do-drop-field {
  min-width: 150px;
  min-height: 50px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 0px rgba(124, 124, 124, 0.5);
  padding: 7px 0px 7px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../assets/images/down_arrow.png) 96% / 15% no-repeat #eee;
}
