// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.do-sidebar {
  padding: 15px 30px;
  outline: none;
  border: none;
  background: #333333;
  box-shadow: 0px 4px 0px #00baf4;
  border-radius: 5px;

  user-select: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  min-height: 300px;
  
  .profile-img--default {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #00baf4;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
  }
  
}

